%h1 Listing pieces

%table
  %tr
    %th Type
    %th Title
    %th Body
    %th
    %th
    %th

  - @pieces.each do |piece|
    %tr
      %td= piece.type
      %td= piece.title
      %td= piece.body
      %td= link_to 'Show', piece
      %td= link_to 'Edit', edit_piece_path(piece)
      %td= link_to 'Destroy', piece, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Piece', new_piece_path
